<header class='flex max-w-7xl mx-auto justify-between py-10 px-4'>
  <p class='text-4xl font-bold'><LinkTo @route='index'>Ember Todo.</LinkTo></p>
  <nav>
    <ul class='flex gap-2'>
      <li><LinkTo class="btn-ghost" @route='logga-in'>Logga In</LinkTo></li>
      <li><LinkTo class='btn' @route='registrera'>Registrera</LinkTo></li>
    </ul>
  </nav>
</header>