<div>
  <h1 class='text-4xl'>Hej User!</h1>
  <div class='bg-white max-w-4xl p-10 shadow-lg rounded-xl my-10'>
    <h2 class='text-3xl'>Skapa ny todo</h2>
    <form class=''>
      <label>
        Skriv in ny todo:
        <input type='text' name='todo' id='todo' placeholder='todo text...' />
      </label>
      <button type='submit'>Lägg till todo</button>
    </form>
  </div>
  <div class='border-t-2 border-borderColor py-10'>
    <h2 class='text-3xl'>Todos</h2>
    {{! Todo card }}
    <div class='bg-white max-w-3xl p-10 shadow-lg rounded-xl my-10'>
      <div class='flex justify-between'>
        <h3>Todo name</h3>
        <div>
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
      </div>
    </div>
    {{! Todo card }}
  </div>
  <div class='border-t-2 border-borderColor py-10'>
    <h2 class='text-3xl'>Slutförda Todos</h2>
    {{! Todo card }}
    <div class='bg-white max-w-3xl p-10 shadow-lg rounded-xl my-10'>
      <div class='flex justify-between'>
        <h3>Todo name</h3>
        <div>
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
      </div>
    </div>
    {{! Todo card }}
    {{! Todo card }}
    <div class='bg-white max-w-3xl p-10 shadow-lg rounded-xl my-10'>
      <div class='flex justify-between'>
        <h3>Todo name</h3>
        <div>
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
      </div>
    </div>
    {{! Todo card }}
  </div>
</div>